body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #5a5959;
}

main {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#content {
    background-color: rgba(240, 240, 240, 0.9); 
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

#produits {
    max-height: 60vh;
    overflow-y: auto; /* Ajout de la barre de défilement */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Grille flexible */
    gap: 20px;
    margin-top: 20px;
    padding: 20px;
}

.product {
    opacity: 1;

    background-color: #ffffff;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.2s, box-shadow 0.2s;
}

.product:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#Filtre {
   
    text-align: center;
    margin-bottom: 20px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.btn-warning{
    color: white;
    margin-left: 10px;
}